{% extends "model-page.html" %}
{% load static %}

{% block content %}


<style>

    h2 {
        margin-top: 50px;
    }

    label {
        font-weight: bold;
        margin-bottom: auto;
    }

    .label {
        margin-left: -78px;
        background-color: #20B2AA;
    }


</style>


<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <h2 style="font-family: Arial;">Cadastro de Produto</h2>
        </div>
        <div class="col-sm-2">
            <h2><span class="label label-default">{% if product %}{{product.code}}{% endif %}</span></h2>
        </div>
    </div>
    <br>
    <br>
    <form enctype="multipart/form-data" method="POST" id="register_product" class="save_product_form" action="{% url 'save_product' %}">
        <div class="main">
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                    <label class="control-label">Fornecedor</label>
                        <input type="hidden" name="existed_vendor" id="existed_vendor" value="{{existed_vendor}}">
                        <select class="selectpicker form-control" name="vendor" id="vendor" data-live-search="True" required {% if product or selected_vendor %} readonly {% endif %}>
                            <option value="">Selecione...</option>
                            {% for v in vendor %}
                                <option value="{{v.id}}" {% if product.vendor.id == v.id %} selected {% elif selected_vendor.id == v.id %} selected {% endif %}>{{v}}</option>
                            {% endfor %}
                        </select>
                </div>
                <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                    <label class="control-label">CNPJ</label>
                    <input class="form-control" type="text" min="0" name="cnpj" id="cnpj" value="" required readonly>
                </div>
                <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                    <label class="control-label">Cidade</label>
                    <input class="form-control" type="text" min="0" name="city" id="city" value="" required readonly>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                    <label class="control-label">Nome do Produto</label>
                    <input class="form_control" type="hidden" name="id" value="{% if product %}{{product.id}}{% endif %}">
                    <input class="form-control" type="text" name="name" id="name" value="{% if product %}{{product.name}}{% endif %}" required>
                </div>
                <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                    <label class="control-label">Código</label>
                    <input class="form-control" type="text" name="code" id="code" value="{% if product %}{{product.code}}{% endif %}" required>
                </div>
                <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                    <label class="control-label">Preço</label>
                    <input class="form-control money" type="text" name="price" id="price" value="{% if product %}{{product.price}}{% endif %}">
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-1 col-lg-1 col-md-1 col-xs-1">
                    <button class="btn btn-success" id="btn-save" id="btn-save" type="button">Salvar</button>
                </div>
            </div>
            <br>
            <div class="alert alert-success alert-success-save">Salvo com sucesso!</div>
        </div>
        <br>
        <br>
    </form>
</div>

<script>

    $(document).ready(function(){
        $('.alert-success-save').hide();
        if($('#existed_vendor').val()){
            console.log('hjahahaha');
        };
        if( $('#vendor').val() != ''){
            console.log('foi');
            getVendorData();
        }
        $('#btn-save').prop('disabled', false);
        $('#cnpj').mask('000.000.000-00');
        $('.money').mask('#.##0,00', {reverse: true,
          translation: {
            '#': {
              pattern: /-|\d/,
              recursive: true
            }}
        });
        function getVendorData(){
            if($('#vendor').val() != ''){
                $.ajax({
                    type: 'GET',
                    url: '/api/get_vendor_data/' + $('#vendor').val() + '/',
                    success: function(data) {
                        $('#cnpj').val(data.cnpj);
                        $('#city').val(data.city);
                    }
                });
            }
            else{
                $('#cnpj').val('');
                $('#city').val('');
            }
        };

        $('#vendor').change(function(){
            getVendorData();
        });

        $('#btn-save').click(function(e){
            $('#btn-save').prop('disabled', true);
            e.preventDefault();
            $form = $('.save_product_form');
            var form = document.getElementById('register_product');
            var formData = new FormData(form);
            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: function(data){
                    if(data.existed_vendor){
                        $('#btn-save').prop('disabled', false);
                        $('#name').val('');
                        $('#code').val('');
                        $('#price').val('');
                        $('.alert-success-save').show();
                        setTimeout("$('.alert-success-save').hide();", 3000);
                    }else{
                        location.href = '/list/products/';

                    }
                }
            });
        });

    });

</script>


{% endblock %}