{% extends "model-page.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/floating-scroll@3.0.6/dist/jquery.floatingscroll.css">
<script src="https://cdn.jsdelivr.net/npm/floating-scroll@3.0.6/dist/jquery.floatingscroll.min.js"></script>

<style>

    .thead {
        background-color: #D3D3D3;
    }

    div button {
        float: right;
        margin-right: 20px;
    }

</style>
<div>
    <div>
        <h1 style="text-align: center; margin-top: 50px;">Lista de Produtos</h1>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <label class="control-label"><b>Fornecedor</b></label>
                <select class="selectpicker form-control" name="vendor" id="vendor" data-live-search="True">
                    <option value="">Todos</option>
                    {% for v in vendor %}
                        <option value="{{v.id}}">{{v}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-8">
                <a href="/edit/product/">
                    <button class="btn btn-success" id="" type="button" style="margin-right: 90px; margin-top: 28px;">Cadastrar Produto</button>
                </a>
            </div>
            <div class="col-sm-11">
                <a href="/delete/product/" notification-modal="1">
                    <button class="btn btn-warning" type="button" style="margin-right: -50px; margin-top: -33px;">Deletar Produtos</button>
                </a>
            </div>
        </div>
        <br>
        <br>
    </div>
    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
        <div class="scrollbar-table" id="table">
            <table class="table table-bordered" id="data_table" style="padding: inherit;">
                <thead class="thead">
                    <tr>
                        <th scope="col" style="width: 350px;">Nome</th>
                        <th scope="col">Código</th>
                        <th scope="col" style="width: 100px;">Preço</th>
                        <th scope="col" style="width: 320px;">Fornecedor</th>
                        <th scope="col" style="width: 100px;"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade delete_product" tabindex="-1" aria-hidden="true">
</div>
<script>
    var data = [];
    generateTable();
    function generateTable(){
        data = {'vendor': $('#vendor').val()};
        datatable_ticket = $('#data_table').DataTable({
                "destroy": true,
                "fixedHeader": false,
                "ordering": false,
                "processing": true,
                "serverSide": true,
                "ajax":{
                        url: "/api/list_products/",
                        type: "POST",
                        data: data,
                        complete: function(response){
                            $(".scrollbar-table").floatingScroll();
                        }
                },
                "iDisplayLength": 50,
                "bJQueryUI": false,
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página.",
                    "zeroRecords": "Não foram encontrados registros",
                    "info": "Exibindo _START_ até _END_ de um total de _TOTAL_ produtos",
                    "infoEmpty": "Não foram encontrados registros",
                    "infoFiltered": "(filtrados de um total de _MAX_ produtos)",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    },
                    "search": "Buscar:"
                }

        });
    }
    $(document).on('click', 'a[notification-modal]', function(e) {
        e.preventDefault();
        $.get($(this).attr('href')).done(function (html) {
            $('.modal.delete_product').html(html);
            $('.modal.delete_product').modal('show');
        });
    });
    $('#vendor').change(function(){
        generateTable();
    });


</script>

{% endblock %}